@import url('https://fonts.googleapis.com/css?family=Montserrat|Quicksand|Sen&display=swap');

.text-field-container
{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-family: 'Sen', sans-serif;
    text-align: left;
}

.text-field-label
{
    font-size: 2rem;
    font-weight: bolder;
}

.text-field-input
{
    font-size: 1.3rem;
    font-weight: lighter;
    background-color: transparent;
}

.text-field-sub-text
{
    font-size: 1.1rem;
    font-weight: lighter;
}